.cardList {
    display: column;
    columns: 5;
    gap: 150px;
    margin-top: 20px;
    margin-left: 80px;
}



img {
    box-shadow: 4px 7px 7px 0px #00000042;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
    display: block;
    border: solid 1px black;
    /* Ensures images align correctly */
}

.card {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 200px;
    text-align: center;
}

.card p {
    background-color: bisque;
    padding: 5px;
    border-radius: 5px;
}