.navbar {
    background-color: #41a6e9;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}



.search-bar {
    display: flex;
    margin-right: 80px;

}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #fff;
    color: #a6a8a6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #00ffaa;
    color: #fff;
}


.favorites-button {
    padding: 15px 25px;
    background-color: #052258;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 70px;
}

.favorites-button:hover {
    background-color: #08c512;
    border: solid 1px #fff;
}


@media screen and (min-width: 1200px) {
    .navbar {
        padding: 30px 40px;
    }

    .logo {
        font-size: 36px;
    }

    .search-bar input {
        width: 280px;
        padding: 15px;
    }

    .search-bar button {
        padding: 10px 15px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .navbar {
        padding: 20px 30px;
    }

    .logo {
        font-size: 32px;
    }

    .search-bar input {
        width: 250px;
    }

    .search-bar button {
        border-radius: 5px;
    }
}


@media screen and (max-width: 991px) and (min-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        padding: 15px 20px;
    }

    .logo {
        font-size: 26px;
        margin-left: 30px;
    }


    .search-bar input {
        width: 200px;
    }

    .search-bar button {
        border-radius: 5px;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 15px;
    }

    .logo {
        font-size: 26px;
        margin-left: 30px;
    }


    .search-bar button {
        width: 100%;
        border-radius: 5px;
    }


}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 25px;
    }

    .navbar-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 6px;
    }

    .search-bar input {
        width: 40%;
        margin-left: 60px;
        padding: 10px;
        font-size: 14px;
        margin-right: 5px;
        text-align: center;
    }

    .search-bar button {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #007BFF;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .favorites-button {
        padding: 8px 20px;
        margin-left: 25px;
        margin-top: 10px;
        font-size: 16px;

    }
}